.bordes {
  border: red 1px solid; }

.uno {
  width: 500px;
  height: 800px; }

/*
.papyrus{
   background-image: url("../images/papyrus.jpg");
}
.forest{
    background-image: url("../images/forest.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}*/
.atributos {
  width: 70px; }
